<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  action="{% url 'phone:result' %}" method = "get">
        <input type="text" name="search">
        <input type = "submit" value="검색">
    </form>
    <hr/>
    <a href="{% url 'phone:create' %}">새 번호 등록</a>
    {% for post in posts %}
    <h2><a href = "{% url 'phone:detail' post.id %}" >이름 : {{ post.name }}</a></h2>
    <p> 전화번호 : {{ post.phone_num }} </p>
    <a href = "{% url 'phone:delete' post.id %}">삭제</a>
    <a href = "{% url 'phone:update' post.id %}">수정</a>
    <hr>
    {% empty %}
    작성된 글이 없습니다. 
    {% endfor %}
</body>
</html>