<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>연락처 수정</h2>
    <form action="{% url 'phone:update' phone.id %}" method ="POST">
        {% csrf_token %}
        이름 : <input type ='text' name = 'name' value="{{phone.name}}"> <br>
        번호 : <input type ='text' name = 'number' value="{{phone.phone_num}}"><br>
        이메일 : <input type ='text' name = 'email' value="{{phone.email}}"><br>
        <input type="submit" value="수정">
    </form>
</body>
</html>